<form action="/bookmarks" method="post">
  <h2>Save a New Bookmark</h2>
  <label for="URL">Write the url you wish to save</label><br>
  <input type="text" name="url" placeholder="Enter URL">
  <input type="submit" value="Submit"></button>
</form>